mixin smashbuttonhref(text, href)
  a(href=href)
    div.inline-block.smash-button-border(class="p-1.5")
      button.bg-black.text-white.uppercase.font-bold.px-3.py-1.flex.items-center.gap-1.whitespace-nowrap
        span #{text}
        span.chevron

mixin smashbuttononclick(text, href)
  a.smashButtonLink(href=href)
    div.smashButton.inline-block.smash-button-border(class="p-1.5")
      button.bg-black.text-white.uppercase.font-bold.px-3.py-1.flex.items-center.gap-1.whitespace-nowrap
        span #{text}

html(lang='en')
  head 
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/styles/style.css")
    link(rel="stylesheet", href="/styles/custom.css")
    
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet")

    script(src="/scripts/hamburger.js" defer) 

  body.flex.flex-col.items-center.overflow-x-hidden
    div.flex.flex-row.gap-4.items-center.justify-between.w-full.bg-black.px-4.shadow-lg
      a.text-xl.font-bold.whitespace-pre.font-fjalla(class="xs:text-3xl" href="/")
        h1.py-4
          span.text-white Ultimate 
          span.text-yellow-500 Stage 
          span.text-white Data

      ul.h-full.flex.flex-row.items-center
        each nav in ["character", "matchup", "about"]
          li.h-full.hidden.justify-center.items-center(class="sm:block hover:bg-zinc-800")
            a.h-full.px-4.flex.items-center(href="/" + nav)
              span.uppercase.font-bold.decoration-2.underline-offset-4.text-white(class=`${route === nav ? "underline": ""}`)= nav
        li.hamburger.block(class="sm:hidden")
          button.text-white
            img.invert.w-8.h-8(src="/images/hamburger.svg" alt="navigate")
    div.navmenu.max-h-0.w-full.overflow-hidden.bg-zinc-700(class="sm:hidden")
      ul.flex.flex-col
        each nav in ["character", "matchup", "about"]
          li.w-full(class="hover:bg-zinc-600")
            a.block.w-full.h-full.p-4(href="/" + nav)
              span.block.w-full.text-end.text-white.text-sm.uppercase.font-bold.decoration-2.underline-offset-4(class=`${route === nav ? "underline" : ""}`)= nav
    div.w-full
      block content